body {
  margin: 0;
  font-family: "Courier New", Courier;
  background: rgb(210,155,179);
  background: radial-gradient(circle, rgba(210,155,179,1) 0%, rgba(148,187,233,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',  monospace;
}

button {
  cursor: pointer;
}

